<div class="wrapper">
  <div class="main-container p-2">
    <div class="container">
      <h1 class="site-name">Blood and Bone</h1>
      <form id="character-form" class="mb-2 ">
        <div class="row">
          <div class="col-sm-4">
            <app-character (characterEmitter)="characterNameReceived($event)"></app-character>
          </div>
          <div class="col-sm-4">
            <app-base-attributes
              (strengthEmitter)="strengthReceived($event)"
              (dexterityEmitter)="dexterityReceived($event)"
              (mindEmitter)="mindReceived($event)"
              (presenceEmitter)="presenceReceived($event)"
            ></app-base-attributes>
          </div>
          <div class="col-sm-4">
            <app-activity
              (damageEmitter)="damageReceived($event)"
              (tenacityEmitter)="tenacityReceived($event)"
            ></app-activity>
          </div>
        </div>
      </form>

      <div class="py-3"></div>

      <div class="row">
        <div class="col-sm-4">
          <app-details
            [characterName]="characterName"
            [strength]="strength"
            [dexterity]="dexterity"
            [mind]="mind"
            [presence]="presence"
          ></app-details>
        </div>
        <div class="col-sm-4">
          <app-combat-attributes
            [strength]="strength"
            [dexterity]="dexterity"
            [mind]="mind"
            [presence]="presence"
            [damage]="damage"
            [tenacity]="tenacity"
          ></app-combat-attributes>
        </div>
        <div class="col-sm-4">
          <app-skills
            [strength]="strength"
            [dexterity]="dexterity"
            [mind]="mind"
            [presence]="presence"
          ></app-skills>
        </div>
      </div>
    </div>
  </div>
</div>
