<div class="box">
  <h5>Combat Attributes</h5>
  <div class="info-card justify-content-between d-flex">
    <span>Vitality:</span>
    <span>{{getVitality()}}</span>
  </div>
  <div class="info-card justify-content-between d-flex">
    <span>Evasion:</span>
    <span>{{getEvasion()}}</span>
  </div>
  <div class="info-card justify-content-between d-flex">
    <span>Armor:</span>
    <span>{{getArmor()}}</span>
  </div>
  <div class="info-card justify-content-between d-flex">
    <span>Alacrity:</span>
    <span>{{getAlacrity()}}</span>
  </div>
  <div class="info-card justify-content-between d-flex">
    <span>Tenacity:</span>
    <span>{{getTenacity()}}</span>
  </div>
  <div class="info-card justify-content-between d-flex">
    <span>Power:</span>
    <span>0</span>
  </div>
</div>
