<div class="box">
  <h5>Details</h5>
  <div class="info-card d-flex justify-content-between">
    <span>Character Name</span>
    <span>{{characterName}}</span>
  </div>
  <div class="info-card d-flex justify-content-between">
    <span>Strength</span>
    <span>{{strength}}</span>
  </div>
  <div class="info-card d-flex justify-content-between">
    <span>Dexterity</span>
    <span>{{dexterity}}</span>
  </div>
  <div class="info-card d-flex justify-content-between">
    <span>Mind</span>
    <span>{{mind}}</span>
  </div>
  <div class="info-card d-flex justify-content-between">
    <span>Presence</span>
    <span>{{presence}}</span>
  </div>
</div>
